<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>ミニブログ</title>
  </head>
  <body>
    <header>
      <h1>ミニブログを作ってみよう</h1>
    </header>
    <p><a href="{{ url_for('blog.create') }}">新規投稿</a></p>
    <div>
      <ul>
        {% for blog in blogs %}
          <li>タイトル: {{ blog.title }}, 本文: {{ blog.body }}, 投稿者: {{ blog.user_name }}, 投稿日時: {{ blog.created_at }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>